
@{
    ViewBag.Title = "Index";
}
<h2>
    <br>
    <img src="~/Images/adminresmi/DSC03190.jpg" alt="PROFİL RESMİ" border="0" align="left" height="400" width="400">
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><strong>Hakkımda</strong></h2>
    <h3>
        <br><br>
        <strong>
            Adım:
        </strong>ESRA ÜZÜM<br><br>
        <strong>
            ÜNİVERSİTE:
        </strong>YILDIRIM BEYAZIT ÜNİVERSİTESİ<br><br>
        <strong>
            BÖLÜM:
        </strong>
        BİLGİSAYAR MÜH.<br><br>
        <strong>
            İLETİŞİM:
        </strong>esra_uzum_19@hotmail.com<br>


    </h3>
